services:
  db:
    image: ankane/pgvector
    container_name: softpower_db
    restart: unless-stopped
    shm_size: "1gb"
    env_file:
      - .env
    environment:
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      - softpower_net

  streamlit:
    build:
      context: .
      dockerfile: streamlit/Dockerfile
    container_name: streamlit-app
    env_file:
      - .env
    environment:
      DB_HOST: softpower_db
      BACKEND_API_URL: http://backend:8000
    networks:
      - softpower_net
    ports:
      - "8501:8501"
    volumes:
      - ./streamlit:/app/streamlit
      - app_output:/app/output
    depends_on:
      - backend
    restart: unless-stopped

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: ml-backend
    env_file:
      - .env
    environment:
      DB_HOST: softpower_db
      S3_PROXY_URL: http://host.docker.internal:5001
      FASTAPI_URL: http://host.docker.internal:5001/material_query
    networks:
      - softpower_net
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app/backend
      - ./alembic:/app/alembic
      - ./alembic.ini:/app/alembic.ini
      - app_output:/app/output
    depends_on:
      - db
    restart: unless-stopped
    extra_hosts:
    - "host.docker.internal:host-gateway"

  redis:
    image: redis:7
    container_name: redis
    networks:
      - softpower_net

  migrate:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: alembic-migrate
    env_file:
      - .env
    environment:
      DB_HOST: softpower_db
    networks:
      - softpower_net
    volumes:
      - ./backend:/app/backend
      - ./alembic:/app/alembic
      - ./alembic.ini:/app/alembic.ini
    depends_on:
      - db
    profiles:
      - migrate
    command: alembic upgrade head

volumes:
  postgres_data:
    driver: local
  app_output:
    driver: local

networks:
  softpower_net:
    external: true