# Embeddings & NLP
sentence-transformers
nltk
boto3
transformers
torch

# Vector DB
pgvector
psycopg2-binary

# LangChain
langchain 
langchain-community 
langchain-huggingface 

# Task Queue
celery
redis

# Backend Frameworks
fastapi
uvicorn
sqlalchemy

# Database Migrations
alembic

# Config & Utils
python-dotenv
click
tabulate

# Data Processing
pandas
numpy
openpyxl
python-docx

# Clustering / Dimension Reduction
hdbscan
umap-learn
scikit-learn

# OpenAI for LLM use
openai